<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
</head>
<body>
	<div id="tabs-1">
		<div id="orderMedicineSectionWrapper">
			<input type="hidden" id="activeSection" th:value="${activeSection}"/>
			<!-- Preface Section -->
			<div id="preface" class="preface">
				<form action="#" id="prefaceForm">
					<fieldset>
						<p style="font-weight: bolder; font-size: larger;" th:text="#{order.medicine.home.preface.message}"></p>
					</fieldset>
					<p class="change_link">
		                <label th:text="#{label.impressed}"></label>
		                <a href="#orderNow" id="orderNowLink" rel="orderNow" th:text="#{label.link.order.now}" class="linkSection"></a>
		            </p>
				</form>
			</div>
		</div>
	</div>
</body>
</html>